<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define your beans here -->

    <bean id="fortuneService" class="org.anyrem.springdemo_one.HappyFortuneService"></bean>

    <bean id="trackCoach" class="org.anyrem.springdemo_one.TrackCoach">
        <constructor-arg ref="fortuneService"/>
    </bean>

    <bean id="baseballCoach" class="org.anyrem.springdemo_one.BaseballCoach">
        <constructor-arg ref="fortuneService"/>
    </bean>

    <bean id="swimmingCoach" class="org.anyrem.springdemo_one.SwimmingCoach">
        <constructor-arg ref="fortuneService"/>
    </bean>

    <bean id="cricketCoach" class="org.anyrem.springdemo_one.CricketCoach">
        <property name="fortuneService" ref="fortuneService"/>
        <property name="emailAddress" value="cricketCoach@cricket.mail"/>
        <property name="team" value="Hawaii Sunrisers"/>
    </bean>


</beans>





